<div id="chat-tab" class="tab-pane">
  <h3>Chat</h3>

  <!-- メッセージ一覧 -->
  <div id="messages" class="chat-container">
    <% @group.messages.each do |message| %>
      <% if message.user_id == current_user.id %>
        <!-- 自分のメッセージ -->
        <div class="d-flex justify-content-end mb-3">
          <div class="message right p-3 rounded">
            <strong>あなた:</strong>
            <%= message.content %>
          </div>
        </div>
      <% else %>
        <!-- 他人のメッセージ -->
        <div class="d-flex justify-content-start mb-3">
          <div class="message left p-3 rounded">
            <strong><%= message.user.name %>:</strong>
            <%= message.content %>
          </div>
        </div>
      <% end %>
    <% end %>

  <!-- メッセージ送信フォーム -->
    <div id="message-form" class="d-flex justify-content-center mb-3">
      <%= render 'messages/form', group: @group %>
    </div>
  </div>
</div>
