<div class="tops-image">
  <%= notice %>
    <h1>Camplan</h1>


  <!-- 背景画像のセクション -->
  <div class="overlay-content">
    <h2>ようこそ Camplan へ</h2>
  </div>
</div>
<!-- アプリ説明 -->
  <div class="app-description">
    <h1>アプリの使い方</h1>
    <h2>【 1. ユーザー登録 】</h2>
    <p>1. 画面右上の「新規登録」ボタンをクリック</p>
    <p>2. メールアドレスとパスワードを入力し、ユーザー登録</p>
    <p>3. 登録が完了したら、ログインしてアプリを利用上できます</p>
  </div>
  <div class="app-description">
    <h2>【 2. キャンプギアを登録 】</h2>
    <p>ご自分のキャンプギアを登録することで、一緒に行くメンバーと共有できます！</p>
    <p>1. マイページの「キャンプギア登録」セクションを開く</p>
    <p>2. 使用するギアの名前、紹介、詳細を入力</p>
    <p>3. 登録したギアは、後で編集や削除が可能</p>
    <p>4. グループのメンバーが登録したギアを確認できる</p>
  </div>
  <div class="app-description">
    <h2>【 3. グループ作成 or 加入 】</h2>
    <p>キャンプに行くためのグループを作成したり、他のメンバーのグループに加入します。</p>
    <h2>グループを作成</h2>
    <p>1. 「グループ作成」ボタンをクリック</p>
    <p>2. グループ名や紹介を入力</p>
    <p>3. メンバーを招待し、共同で計画を立てられます</p>
    <h2>グループに加入</h2>
    <p>1. 招待トークンを利用して加入</p>
    <p>2. 加入後にグループのメンバーとチャットや投票が可能</p>
  </div>