<div class="title text-center">
    <h1><p>グループ新規作成</p></h1>
</div>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 60vh;">
  <div class="w-50 text-center"> <!-- フォーム全体の幅を50%に制限 -->
    <%= form_with model: @group, local: true do |f| %>
      <div class="mb-3">
        <%= f.label :name, 'グループ名', class: 'form-label' %>
        <div class="d-flex justify-content-center">
          <%= f.text_field :name, class: 'form-control', style: "max-width: 300px;" %> <!-- テキストボックスの幅を300pxに制限 -->
        </div>
      </div>
      <div class="text-center">
        <%= f.submit '保存', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>