<h1>キャンプギア一覧</h1>

<table>
  <thead>
    <tr>
      <th>種類</th>
      <th>名前</th>
      <th>設置面積</th>
    </tr>
  </thead>
  <tbody>
    <% @gears.each do |gear| %>
      <tr>
        <td><%= gear.gear_type.humanize %></td>
        <td><%= gear.name %></td>
        <td><%= "#{gear.length}×#{gear.width}" if gear.length && gear.width %></td>
      </tr>
    <% end %>
  </tbody>
</table>